@model Tarefa

<form asp-action="Cadastrar" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastrar Tarefa</legend>

        <div asp-validation-summary="ModelOnly" class="text-primary"></div>
        <div class="form-group" id="TituloTarefa">
            <label asp-for="TituloTarefa">Titulo Tarefa</label>
            <input type="text" asp-for="TituloTarefa" class="form-control" />
            <span asp-validation-for="TituloTarefa" class="text-primary"></span>
        </div>

        <div class="form-group" id="DescricaoTarefa">
            <label asp-for="DescricaoTarefa">Descrição Tarefa</label>
            <input type="text" asp-for="DescricaoTarefa" class="form-control" />
            <span asp-validation-for="DescricaoTarefa" class="text-primary"></span>
        </div>

        <div class="form-group" id="DataEntregaTarefa">
            <label asp-for="DataEntregaTarefa">Data Entrega da Tarefa</label>
            <input type="date" asp-for="DataEntregaTarefa" class="form-control" />
            <span asp-validation-for="DataEntregaTarefa" class="text-primary"></span>
        </div>


        <div class="form-group" id="Responsavel">
            <label>Responsável</label>
            <select asp-items="@ViewBag.Responsavel" class="form-control" name="dprResponsavel">
                <option> -- SELECIONE -- </option>
            </select>
        </div>

        
        <div class="form-group" id="StatusTarefa">
            <label asp-for="StatusTarefa"></label>
            <select class="form-control">
                <option> -- SELECIONE -- </option>
                <option>Novo</option>
                <option>Desenvolvimento</option>
                <option>Concluido</option>
            </select>
        </div>


        <input type="submit" class="btn btn-primary" value="Cadastrar" />
    </fieldset>
</form>
