@model List<Projeto>

@{
    ViewData["Title"] = "Kanban";
}

<h1>Gerenciamento de Projetos</h1>

<table class="table table-hover">

   <!-- <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Projeto</div>
        <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-secondary">Ir para Projetos</button>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Job</div>
        <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Tarefa</div>
        <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Departmento</div>
        <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Funcionário</div>
        <div class="card-body">
            <h4 class="card-title">Dark card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>


    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
            <th scope="col">Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Active</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody> -->
</table> 