@model List<Departamento>
@{
    DateTime dataHora = ViewBag.DataHora;
}

<h2>Departamentos</h2>
<a class="btn btn-primary btn-lg" asp-action="Cadastrar">Cadastrar Departamento</a>

<table style="margin-bottom:15px;margin-top:15px"
       class="table table-hover table-striped">
    <thead>
        <tr class="table-active">
            <th>Nome do Departamento</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento item in Model)
        {
            <tr>
                <td>@item.NomeDepartamento</td>
            </tr>
        }
    </tbody>
</table>
<p>
    <b>Dados atualizados em: </b> @dataHora
</p>